@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: "Poppins", "sans-serif",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: grey;
	min-height: 100vh;
}

#root {
	min-height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/**
  * Waterfall
  *
  * @author jh3y
*/
@-webkit-keyframes waterfall {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-250%);
		transform: translateY(-250%);
	}
	40%,
	60% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(250%);
		transform: translateY(250%);
	}
}
@keyframes waterfall {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-250%);
		transform: translateY(-250%);
	}
	40%,
	60% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(250%);
		transform: translateY(250%);
	}
}

.waterfall div {
	-webkit-animation: waterfall 1.5s infinite;
	animation: waterfall 1.5s infinite;
	background-color: var(--primary);
	height: 20px;
	left: 50%;
	margin-top: -10px;
	opacity: 0;
	position: absolute;
	top: 45%;
	width: 20px;
}
.waterfall div:nth-of-type(1) {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
	margin-left: -10px;
}
.waterfall div:nth-of-type(2) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	margin-left: 15px;
}
.waterfall div:nth-of-type(3) {
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
	margin-left: -35px;
}
.waterfall div:nth-of-type(4) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	margin-left: 40px;
}
.waterfall div:nth-of-type(5) {
	-webkit-animation-delay: 1.25s;
	animation-delay: 1.25s;
	margin-left: -60px;
}

@media screen and (max-width: 768px) {
	.waterfall div {
		top: 45%;
	}
}

/* Reference Link => https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css */

.hamburger {
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #fff;
}

.hamburger-box {
	width: 35px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 35px;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}
.hamburger--slider .hamburger-inner {
	top: 2px;
}
.hamburger--slider .hamburger-inner::before {
	top: 10px;
	transition-property: transform, opacity;
	transition-timing-function: ease;
	transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
	top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
	transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
	transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
	opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
	transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/*
     * Slider Reverse
     */
.hamburger--slider-r .hamburger-inner {
	top: 2px;
}
.hamburger--slider-r .hamburger-inner::before {
	top: 10px;
	transition-property: transform, opacity;
	transition-timing-function: ease;
	transition-duration: 0.15s;
}
.hamburger--slider-r .hamburger-inner::after {
	top: 20px;
}

.hamburger--slider-r.is-active .hamburger-inner {
	transform: translate3d(0, 10px, 0) rotate(-45deg);
}
.hamburger--slider-r.is-active .hamburger-inner::before {
	transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
	opacity: 0;
}
.hamburger--slider-r.is-active .hamburger-inner::after {
	transform: translate3d(0, -20px, 0) rotate(90deg);
}

/* Scroll bar */
::-webkit-scrollbar {
	width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background: linear-gradient(
		60deg,
		#ffffff,
		#f1f1f1,
		#f0a500,
		#cf7500,
		#3f3f44,
		#1a1c20
	);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
